*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: purple;
	background-color: peachpuff;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 80px auto;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 50%;
	min-height: 80vh;
	background-color: white;
}

.todoTitle {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	width: 100%;
	border-bottom: 1px solid purple;
}
